@charset "utf-8";


html {    scroll-behavior: smooth; }

*{   font-family: 'Roboto', sans-serif; }

/* NAVBAR */
.transparent{    background-color: transparent; }

.colored{    background-color: #424242;}

.myNavbar {
    padding: 25px;
    
    position: fixed;
    width: 100%;
    z-index: 1;    
}
    .myNavbar a{
        color: #424242;
        font-size: 12px;    
    }
    .myNavbar a:hover{
        background-color: rebeccapurple;
        color: #fff;
        font-size: 13px;
    }

/* HOME BANNER */

.home_banner_area {
    padding: 70px;
    margin-bottom: 50px;
    background: #F0F1FC;
    
}
    .home_banner_area .banner_inner .container .row .presentation{
        padding: 20px;
    }

/* ABOUT*/


/* SERVICE */

.service_area {
    padding: 40px;
    background-color: #f9f9ff;
}
    .service_area .container #service{
        text-align: center;
        padding: 20px;
        margin-bottom: 25px;
    }
    .service_area .container .row .service{
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
        margin: 35px;
        height: 180px;
    }
        .service_area .container .row .service:hover {
            background-color: #f2f2f2;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
        }
            .service_area .container .row .service .icone_service{
                display: inline-block;
                padding: 40px;
                font-size: 34px;
                color: rebeccapurple;
            }



/* ABILITIES */


.abilities_area {
    padding: 50px;
    background-color: #F0F1FC;
}

    .abilities_area .container #abilities{
        padding: 20px;
        margin-bottom: 25px;
    }

    .abilities_area .container h2 {
        padding-top: 20px;
    }
    .abilities_area .container h2,p {
        text-align: center;
    }

    .abilities_area .container .row {   
        padding: 20px;  
    }
        .abilities_area .container .row .icone_programming_language:hover{         
            opacity: .75;
        }



/* CONTACT */

.contact_area{
    padding: 50px;    
    background-color: #000410;
    color: #fff
}
/*
<!-- .contact_area .container .row .portfolio -->
<!-- .contact_area .container .row .contact -->
<!-- .contact_area .container .row .follow -->
*/
    .contact_area .container h4,#contact,#portfolio{
        text-align: center;     
    }
    .contact_area .container #contact,#portfolio,#follow {        
        margin-bottom: 25px;
    }
    .contact_area .container p {
        text-align: center;  
    }


    .contact_area .container .row .portfolio{
        text-align: center; 
    }
        .contact_area .container .row .portfolio .btn_cv{
            margin :10px;
            display: inline-block;
        }

    .contact_area .container .row .follow{
        text-align: center; 
    }
        .contact_area .container .row .follow .social{
            display: inline-block;
            color: #fff;
            padding: 5px;
        }
        .contact_area .container .row .follow .social:hover {
            opacity: .7;
        }

/* FOOTER C9C9C9*/

.footer_area {
    text-align: center;
    padding: 20px;
    background-color: #000410;
    color: #fff
}
    .footer_area .contact_area .a .social{
        color: #000410
    }


/* RESPONSIVE */

